<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OOFScheduling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
    <trace indentsize="4" autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" initializeData="OOFSponder.log" name="myListener"/>
        <remove name="Default"/>
      </listeners>    
    </trace>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <OOFScheduling.Properties.Settings>
            <setting name="workingHours" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="IsPermaOOFOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PermaOOFDate" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="PrimaryOOFExternal" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="PrimaryOOFInternal" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SecondaryOOFExternal" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SecondaryOOFInternal" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="enableOnCallMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alternativeBackend" serializeAs="String">
                <value>False</value>
            </setting>
        </OOFScheduling.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
